<script src="https://giscus.app/client.js"
        data-repo="abhinav1107/personal-blog-source"
        data-repo-id="R_kgDOK_bUJw"
        data-category-id="DIC_kwDOK_bUJ84CcURM"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

<hr>
<br>
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '759135');
</script>
<div class="ml-embedded" data-form="2TIbKD"></div>
